<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

    

<%= user = User.find_by_id(session[:user_id]) %>
<% if user and user.admin? %>
	<h4><%= _("Merge Articles") %></h4>
	<%= form_tag "/admin/content/merge_with/#{@article.id}", :name => "merge_with", :method => :get do -%>
	  Article ID
	  <%= text_field_tag 'merge_with' %>
	  <%= submit_tag "Merge" %>
	<% end %>
<% end %>
